@import url(reset.css);
@import url(webfonts.css);
@import url(common.css);

/* index */
.index-page .main-wrapper > section:not(:first-child) {
  margin-top: 160px;
}
.service-banner__img-wrapper {
  height: 496px;
  position: relative;
}
.service-banner__body {
  position: absolute;
  top: 148px
}
.service-banner__body p {
  margin-top: 18px;
}
.service-banner__body a {
  margin-top: 59px;
}
.advantage-banner {
  display: flex;
}
.advantage-banner__img-wrapper {
  width: 894px;
  height: 342px;
  position: relative;
  margin-right: 24px;
  border-radius: 12px;
  overflow: hidden;
}
.advantage-banner__banner-list__body {
  position: absolute;
  top: 177px;
  left: 63px;
}
.advantage-banner__banner-list__body p {
  width: 369px;
  margin-top: 18px;
}
.advantage-banner__contents-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 282px;
  height: 114px;
  padding: 0 40px;
  border: 1px solid var(--color-gray2);
}
.advantage-banner__contents-list li:first-child {
  border-radius: 12px 12px 0 0;
}
.advantage-banner__contents-list li:last-child {
  border-radius: 0 0 12px 12px;
}
.advantage-banner__contents-list li:not(:first-child) {
  margin-top: -1px;
}
.advantage-banner__contents-list li.on {
  position: relative;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  z-index: 10;
}
.process-banner__contents-list {
  display: flex;
  margin-top: 36px;
}
.process-banner__contents-list li {
  width: 282px;
  height: 96px;
  padding: 0 20px 0 24px;
  border: 1px solid var(--color-gray2);
}
.process-banner__contents-list li.on {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}
.process-banner__contents-list li:not(:last-child) {
  margin-right: 24px;
}
.process-banner__contents-list button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.process-banner__contents-list button h2 {
  margin-top: 2px;
}
.process-banner__img-wrapper {
  margin-top: 36px;
  height: 480px;
}
.main-service h1 {
  text-align: center;
}
.main-service__list {
  margin-top: 36px;
}
.main-service__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 328px;
}
.main-service__list li:not(:first-child) {
  margin-top: 120px;
}
.main-service__list span {
  padding: 5px 11px;
  background-color: var(--color-gray3);
  border-radius: 30px;
}
.main-service__list li h2,
.main-service__list li p {
  margin-top: 18px;
}
.recommend-model {
  overflow: hidden;
}
.recommend-model h1 {
  text-align: center;
}
.recommend-model__more {
  margin-top: 8px; 
  display: flex;
  justify-content: flex-end;
}
.recommend-model__list {
  margin-top: 36px;
  /* 추후삭제 */
  display: flex;
  margin-left: -384px;
}
.recommend-model__list li {
  /* 추후삭제 */
  margin-right: 24px;
}
.recommend-model__list__img-wrapper {
  width: 640px;
  height: 359px;
  position: relative;
}
.recommend-model__list__body {
  position: absolute;
  top: 226px;
  left: 38px;
}

/* model-list */
.more-model-list__head {
  text-align: center;
}
.model-filter {
  display: flex;
  margin: 36px 0;
}
.model-filter__list {
  display: flex;
  margin-right: 60px;
}
.model-filter__list li:not(:last-child) {
  margin-right: 24px;
}
.model-filter__reset {
  display: flex;
  align-items: center;
}
.model-filter__reset .sprite {
  margin-right: 8px;
}
.model-list {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}
.model-list li {
  width: 282px;
  height: 294px;
  margin: 12px;
  border: 1px solid var(--color-gray3);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.model-list__img-wrapper {
  position: relative;
  width: 100%;
  height: 188px;
}
.model-list__body {
  width: 100%;
  height: 106px;
  padding: 17px 0 0 24px;
}

/* login */
.login-page {
  display: flex;
  flex-direction: column;
}
.login__head {
  text-align: center;
}
.login__head p {
  margin-top: 8px;
}
.login__form {
  margin-top: 36px;
}
.login__form input {
  margin: 9px 0 18px;
}
.login__sub {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}
.login__btn-wrapper {
  margin-top: 36px;
}
.login__btn-wrapper button:last-child {
  margin-top: 9px;
}
.login__signup {
  margin-top: 36px;
  text-align: center;
}
.login__signup span {
  margin-right: 8px;
}

/* signup */
.signup__head {
  text-align: center;
}
.signup__head p {
  margin-top: 8px;
}
.signup__process-list {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}
.signup__process-list li {
  width: 78px;
  height: 92px;
  padding-top: 12px;
  text-align: center;
  color: var(--color-gray2);
}
.signup__process-list li.on {
  color: var(--color-secondary);
}
.signup__process-list li span {
  margin: auto;
}
.signup__process-list li p {
  margin-top: 3px;
}
.signup-page section {
  margin-top: 36px;
}
.signup__terms-list li{
  display: flex;
}
.signup__terms-list li:first-child {
  padding-bottom: 24px;
  border-bottom: 2px solid #DFE1E5;
  margin-bottom: 24px;
}
.signup__terms-list li:not(:first-child):not(:last-child) {
  margin-bottom: 12px;
}
.signup__terms .btn-wrapper {
  margin-top: 36px;
}
.signup__form label:not(:first-child) {
  margin-top: 18px;
}
.signup__form input {
  margin-top: 9px;
}
.signup__form button {
  margin-top: 36px;
}

/* simply-service */
.simply-service__head {
  text-align: center;
}
.simply-service__process-list {
  display: flex;
  justify-content: space-between;
  width: 384px;
  margin: 36px auto 0 auto;
}
.simply-service__process-list li {
  width: 78px;
  height: 80px;
  text-align: center;
}
.simply-service__process-list li span {
  margin: auto;
}
.simply-service__process-list li p {
  margin-top: 4px;
  color: var(--color-gray2);
}
.simply-service__process-list li.on p {
  color: var(--color-secondary);
}
.simply-service-page > div:first-child > section {
  margin-top: 36px;
}

/* address-search */
.address-search__input-wrapper {
  display: flex;
}
.address-search__input-wrapper > input {
  height: 64px;
  border: 2px solid var(--color-primary);
  border-right: 0;
  border-radius: 12px 0 0 12px;
  padding: 21px 24px 20px 24px;
  outline: none;
}
.address-search__btn {
  width: 64px;
  height: 64px;
  padding: 20px;
  background-color: var(--color-primary);
  border-radius: 0 12px 12px 0;
}
.address-search__map {
  margin-top: 36px;
}
.address-search a {
  margin-top: 36px;
}

/* building-use */
.building-use__list {
  display: flex;
  justify-content: space-between;
}
.building-use__list li input[type='radio'] + label {
  width: 248px;
  height: 385px;
  padding: 24px 24px 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}
.building-use__list li input[type='radio']:checked + label{
  border: 1.5px solid var(--color-primary);
}
.building-use__list li .img-wrapper {
  width: 200px;
  height: 322px;
}
.building-use__list li p {
  margin-top: 8px;
}
.building-use .btn-wrapper {
  margin-top: 36px;
}

/* service-model-list */
.service-model-list .btn-wrapper {
  margin-top: 36px;
}

/* sketch */
.sketch {
  display: flex;
  justify-content: space-between;
}
.sketch__img-wrapper {
  width: 793px;
  height: 684px;
}
.sketch__body {
  width: 384px;
  height: 684px;
}
.sketch__model-list-wrapper {
  display: flex;
  align-items: center;
}
.sketch__model-list-wrapper > button {
  float: left;
  margin-right: 8px;
}
.sketch__model-list {
  display: flex;
}
.sketch__model-list li {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: 8px;
  padding: 6px 6px 6px 8px;
  border: 1px solid var(--color-gray1);
  border-radius: 30px;
}
.sketch__model-list li button:first-child {
  margin-right: 6px;
}
.sketch__contents-category-list {
  display: flex;
  margin-top: 12px;
  height: 39px;
}
.sketch__contents-category-list li {
  flex-grow: 1;
  text-align: center;
  border-bottom: 2px solid #DFE1E5;
}
.sketch__contents-category-list li.active {
  border-bottom: 2px solid #2456D0;
}
.sketch__contents-list {
  height: 529px;
  overflow: hidden;
}
.sketch__contents-list > li {
  /* overflow-y: scroll; */
  height: 529px;
}
.sketch__body .btn-wrapper {
  background-color: var(--color-white);
  padding-top: 10px;
}
.sketch__contents-list section {
  margin-top: 8px;
}
.sketch__contents-list section > div {
  padding-bottom: 12px;
  border-bottom: 2px solid var(--color-gray3);
}
.sketch__contents-list section > div:not(:first-child) {
  margin-top: 12px;
}
.sketch__contents-list table {
  margin-top: 8px;
}
.sketch__contents-list table tr:not(:last-child) th,
.sketch__contents-list table tr:not(:last-child) td {
  padding-bottom: 8px;
}
.sketch__contents-list table caption {
  text-align: left;
  margin-bottom: 8px;
}
.sketch__contents-list table th {
  box-sizing: content-box;
  min-width: 6.4rem;
  padding-right: 8px;
}
.sketch__contents-list table td {
  color: var(--color-gray1);
}
.synopsys__head {
  position: relative;
}
.synopsys__head__more {
  position: absolute;
  top: 11px;
  right: 40px;
}
.sketch__floor .floor__select {
  border: 0;
}
.sketch__contents-list .sketch__floor .floor__info {
  margin-top: 50px;
}
.regulations__scale tr td:first-of-type,
.regulations__line tr td:first-of-type {
  padding-right: 30px;
}

/* export */
.export__header {
  display: flex;
  justify-content: space-between;
}
.export__list {
  display: flex;
  margin-top: 24px;
}
.export__list li:not(:last-child) {
  margin-right: 24px;
}
.export__list li {
  text-align: center;
}
.export__list li p {
  margin-top: 13px;
}
.export__target-list {
  width: 384px;
  margin-top: 36px;
}
.export__target-list li {
  margin-bottom: 16px;
}
.target-list--message li {
  position: relative;
}
.target-list--message li::before {
  content: '010';
  display: block;
  position: absolute;
  top: 13px;
  left: 8px;
  width: 44px;
  height: 24px;
  background-color: var(--color-gray3);
  text-align: center;
  border-radius: 30px;
}
.target-list--message input {
  padding-left: 60px;
}
.modal--export .sprite--plus {
  margin: auto;
}
.modal--export .btn-wrapper {
  margin-top: 24px;
}

/* customer */
.faq__head {
  text-align: center;
}
.faq__search {
  display: flex;
  justify-content: flex-end;
  margin-top: 36px;
}
.faq__search-wrapper {
  position: relative;
  width: 384px;
}
.faq__search-wrapper input {
  height: 48px;
  border-color: var(--color-black);
  border-radius: 12px;
  padding: 13px 68px 12px 24px;
  outline: none;
}
.faq__search-wrapper button {
  position: absolute;
  top: 12px;
  right: 20px;
}
.faq-wrapper {
  display: flex;
  justify-content: space-between;
}
.faq__category-list li {
  width: 180px;
  height: 54px;
}
.faq__category-list li.on {
  font-weight: 700;
}
.faq__question-list {
  width: 996px;
}
.faq__question-list li {
  display: flex;
  justify-content: space-between;
  height: 54px;
  padding: 15px 22px 15px 29px;
  border-bottom: 1px solid #A6ABB5;
}
.faq__question-list li > div > span:first-child {
  margin-right: 24px;
}
.customer__qna {
  margin-top: 88px;
}
.qna__head {
  text-align: center;
}
.qna__category-list {
  margin-top: 36px;
}
.qna__category-list ul {
  display: flex;
  margin-top: 16px;
}
.qna__category-list li input[type='radio'] + label {
  width: 344px;
  height: 115px;
  padding: 24px;
  border: 1px solid var(--color-gray2);
  border-radius: 6px;
  margin-right: 24px;
}
.qna__category-list li input[type='radio']:checked + label {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.customer__qna form > label {
  margin-top: 36px;
}
.customer__qna form > input[type='text'],
.customer__qna form > textarea {
  margin-top: 16px;
}
.customer__qna form > input[type='text'] {
  padding: 14px 24px 13px 24px;
  border: 0;
  background: var(--color-gray3);
  border-radius: 6px;
}
.customer__qna h2 > span {
  margin-left: 8px;
  color: var(--color-gray1);
}
.qna__file-list {
  margin-top: 16px;
}
.qna__file-wrapper {
  display: flex;
  align-items: flex-end;
}
.customer__qna input[type='file'] + label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 64px;
  height: 64px;
  background: var(--color-gray3);
  border-radius: 6px;
}
.customer__qna .btn-wrapper {
  margin-top: 36px;
}
.customer__tel {
  width: 100%;
  display: flex;
  margin-top: 88px;
}
.customer__tel > div {
  width: 50%;
}
.customer__tel a {
  display: block;
  height: 80px;
  padding: 0 36px;
}
.customer__tel > div:first-child {
  display: flex;
  justify-content: flex-end;
  border-right: 1px solid var(--color-gray3);
}
.customer__tel > div:last-child {
  border-left: 1px solid var(--color-gray3);
}
.customer__tel a > div {
  display: flex;
  align-items: center;
}
.customer__tel a > div h1 {
  margin-right: 24px;
}

/* my-page */
.my__head {
  text-align: center;
}
.my__head a {
  margin: auto;
  margin-top: 15px;
}
.my__category-list {
  display: flex;
  margin-top: 88px;
}
.my__category-list li {
  width: 192px;
  height: 47px;
  text-align: center;
  border-bottom: 2px solid var(--color-gray3);
}
.my__category-list li.on {
  border-bottom: 2px solid var(--color-primary);
}
.my__list {
  margin-top: 36px;
}
.my__inquiry-list .inquiry-list__head,
.my__usage-list .usage-list-wrapper {
  display: flex;
  align-items: center;
  height: 54px;
  padding: 0 30px;
  border-bottom: 1px solid var(--color-gray2);
}
.my__inquiry-list li:first-child .inquiry-list__head,
.my__usage-list li:first-child .usage-list-wrapper {
  border-bottom: 1px solid var(--color-gray1);
}
.my__inquiry-list .inquiry-list__head span,
.my__usage-list li span {
  display: block;
}
.my__inquiry-list .inquiry-list__head span:not(:last-child),
.my__usage-list li span:not(:last-child) {
  margin-right: 24px;
}
.my__inquiry-list .inquiry-list__head span:first-child,
.my__usage-list li span:first-child  {
  width: 24px;
}
.my__inquiry-list .inquiry-list__head span:nth-child(2) {
  width: 458px;
}
.my__inquiry-list .inquiry-list__head span:nth-child(3) {
  width: 136px;
}
.my__inquiry-list .inquiry-list__head span:nth-child(4),
.my__inquiry-list .inquiry-list__head span:nth-child(5) {
  width: 168px;
}
.my__usage-list li span:nth-child(2) {
  width: 298px;
}
.my__usage-list li span:nth-child(3) {
  width: 95px;
}
.my__usage-list li span:nth-child(4) {
  width: 402px;
}
.my__usage-list li span:nth-child(5) {
  width: 142px;
}
.my__usage-list .sprite--down-load {
  margin-left: 18px;
}
.inquiry-list__body {
  background-color: var(--color-gray3);
  padding: 0 68px;
}
.inquiry-list__body > div {
  padding: 24px 10px;
}
.inquiry-list__body > div:not(:first-child) {
  border-top: 1px solid var(--color-gray2);
}
.inquiry-list__body__contents p,
.inquiry-list__body__answer p {
  min-height: 7.25em;
}
.inquiry-list__body__file-list {
  margin-top: 24px;
}
.inquiry-list__body__answer p {
  margin-top: 24px;
}
.my__btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}
.my__btn-wrapper label {
  margin-left: 30px;
}
.my__btn-wrapper input[type='checkbox'] + label::before  {
  margin-right: 24px;
}

/* edit-profile */
.edit-profile__head {
  text-align: center;
}
.edit-profile__head p {
  margin-top: 13px;
}
.edit-profile__info {
  margin-top: 36px;
}
.edit-profile__info label:not(:first-child),
.edit-profile__form label {
  margin-top: 18px;
}
.edit-profile__info input[type='text'],
.edit-profile__form input[type='password'] {
  margin-top: 9px;
}
.edit-profile__btn-wrapper {
  margin-top: 36px;
}
.edit-profile__btn-wrapper button:not(:first-child) {
  margin-top: 9px;
}
.edit-profile__sub {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}

/* find-id-pw */
.find-id-pw__category-list {
  display: flex;
}
.find-id-pw__category-list li {
  width: 192px;
  height: 47px;
  border-bottom: 2px solid var(--color-gray3);
  text-align: center;
}
.find-id-pw__category-list li.on {
  border-bottom: 2px solid #A6ABB5;
}
.find-id-pw__form {
  margin-top: 36px;
}
.find-id-pw__form label:not(:first-child) {
  margin-top: 18px;
}
.find-id-pw__form input {
  margin-top: 9px;
}
.find-id-pw__form button {
  margin-top: 36px;
}
.find-id-pw > .main-wrapper > a {
  margin-top: 9px;
}
.find-id-pw__login {
  margin-top: 36px;
  text-align: center;
}
/* secession */
.modal--secession {
  width: 432px;
}
.secession__head {
  text-align: center;
}
.secession__head p {
  margin-top: 16px;
}
.modal--secession label {
  margin-top: 36px;
}
.modal--secession .drop-down {
  margin-top: 16px;
}
.modal--secession textarea {
  margin-top: 82px;
}
.modal--secession .btn-wrapper {
  margin-top: 36px;
}